.main-container {
  width: 100%;
  display: flex;
  align-items:center;
  //margin: 0;
}

.content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .content {
    width: 640px;
  }
}
@media (min-width: 750px) {
  .content{
    width: 750px;
  }
}
@media (min-width: 1020px){
  .content {
    width: 1000px;
  }
}
@media (min-width: 1200px){
  .content {
    width: 1180px;
  }
}

